<%= form_for(@team) do |f| %>
  <%= errors_for @team %>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="col s12 input-field">
      <%= f.label :image_link %>
      <%= f.text_field :image_link %>
    </div>
  </div>
  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', videos_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
