<h1><%= title 'Teams' %></h1>
<div class="row">
  <div class="col s12">
    <h5>President's note</h5>
  </div>
  <div class="col l7 m7 s12 flow-text" style="font-size:1.5rem">
    Here at Warrior Robotix, we strive to bridge the gap between theoretical studies and practical experience. Built on the dedication put forth by its members and administrators, Warrior Robotix is more than merely a club, it is a lifestyle.
  </div>
  <div class="col l5 m5 s12" style="max-width:350px;">
    <%= image_tag 'logos/full.jpg', class: 'materialboxed hover responsive-img' %>
  </div>
</div>

<div class="row">
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Prajith Gnanakumar</h5>
        <p class="truncate">
          Club Vice-President
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Joe Mattekatt</h5>
        <p class="truncate">
          Club President
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Swaleh Owais</h5>
        <p class="truncate">
          Club Vice-President
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Sohail Hameed</h5>
        <p class="truncate">
          Website Designer
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Pei Liang Guo</h5>
        <p class="truncate">
          Website Developer
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Shalin Patel</h5>
        <p class="truncate">
          Website Developer
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Rasesh Shah</h5>
        <p class="truncate">
          Sponsorship Affairs
        </p>
      </div>
    </div>
  </div>
  <div class="col s10 m6 l4 offset-s1 center-align">
    <div class="card">
      <div class="card-content">
        <h5 class="truncate">Justin Amin</h5>
        <p class="truncate">
          Head of Public Relations
        </p>
      </div>
    </div>
  </div>
</div>
<% cache([Team.count, Team.maximum(:updated_at)]) do %>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <% @teams.each do |team| %>
        <li class="tab col s3"><a href="#team<%= team.id %>"><%= team.name %></a></li>
      <% end %>
    </ul>
  </div>
  <% @teams.each do |team| %>
    <div id="team<%= team.id %>" class="col s12">
      <% if team.image_link.empty? %>
      <br>
      <% else %>
      <div class="col s12 m6 offset-m3 center-align vertical-margin-40">
        <%= image_tag team.image_link, class: "materialboxed hover responsive-img" %>
      </div>
      <% end %>
      <% team.members.order(first_name: :ASC, last_name: :ASC).each do |member| %>
      <div class="col s10 m6 l4 offset-s1 center-align">
        <div class="card">
          <div class="card-content">
            <h5 class="member-names"><%= member.full_name %></h5>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
<% if member_is_admin? %>
<%= link_to 'Team Editor', '/team-editor', class: 'btn-bordered' %>
<% end %>
