<div class="max6">
<h1 class="flow-text">Login</h1>
<div class="card-panel" style="padding-bottom:10px;padding-top:10px;">
<%= form_tag signin_path(from: params[:from] || request.referer) do %>
<div class="row large-margin-bottom">
  <div class="col s12 input-field">
    <%= label_tag :identifier, "Student Number or Email" %>
    <%= text_field_tag :identifier, params[:identifier] %>
  </div>

  <div class="col s12 input-field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="input-field col s12">
    <%= check_box_tag :remember_me %>
    <%= label_tag :remember_me %>
  </div>
</div>

<div class="actions row">
  <button type="submit" name="commit" class="btn waves-effect waves-light">Log in</button>
  <%= link_to 'Forgot', forgot_path, class: "btn-flat waves-effect waves-light" %>
</div>
<% end %>
</div>
</div>
