<p id="notice"><%= notice %></p>

<h1>Listing Team Stats</h1>
<style>
  table {
    overflow: scroll;
    display: block;
  }
  th {
    min-width: 120px;
  }
</style>
<table>
  <thead>
    <tr>
      <th><%= sortable "number" %></th>
      <th><%= sortable "team_name" %></th>
      <th><%= sortable "robot_score" %></th>
      <th><%= sortable "robot_rank" %></th>
      <th><%= sortable "programming_score" %></th>
      <th><%= sortable "programming_rank" %></th>
      <th><%= sortable "country" %></th>
      <th><%= sortable "city" %></th>
      <th><%= sortable "region" %></th>
      <th><%= sortable "division_id", "Division" %></th>
      <th><%= sortable "actual_order" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_stats.each do |team_stat| %>
      <tr>
        <td><%= team_stat.number %></td>
        <td><%= team_stat.team_name %></td>
        <td><%= team_stat.robot_score %></td>
        <td><%= team_stat.robot_rank %></td>
        <td><%= team_stat.programming_score %></td>
        <td><%= team_stat.programming_rank %></td>
        <td><%= team_stat.country %></td>
        <td><%= team_stat.city %></td>
        <td><%= team_stat.region %></td>
        <td><%= team_stat.division&.name %></td>
        <td><%= team_stat.actual_order %></td>
        <td><%= link_to 'Show', team_stat %></td>
        <td><%= link_to 'Edit', edit_team_stat_path(team_stat) %></td>
        <td><%= link_to 'Destroy', team_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team stat', new_team_stat_path %>
