<%= form_for(@competition) do |f| %>
  <%= errors_for @competition %>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="col s12 input-field">
      <%= f.text_area :description, class: "materialize-textarea" %>
      <%= f.label :description %>
    </div>
    <div class="col s12 m6 input-field">
      <%= f.text_area :location, class: "materialize-textarea" %>
      <%= f.label :location %>
    </div>
    <div class="col s12 m6 input-field">
      <%= f.text_area :achievements, class: "materialize-textarea" %>
      <%= f.label :achievements %>
    </div>
  </div>
  <div class="row">
    <div class="date-field col s12 m6">
      <%= f.label :start_date %>
      <%= date_field_tag 'competition[start_date]', nil, class: "datepicker", data: { value: f.object.start_date.try(:strftime,'%A, %B %d, %Y') } %>
    </div>
    <div class="date-field col s12 m6">
      <%= f.label :end_date, 'End date (Optional)' %>
      <%= date_field_tag 'competition[end_date]', nil, class: "datepicker", data: { value: f.object.end_date.try(:strftime,'%A, %B %d, %Y') } %>
    </div>
    <div class="col s12 input-field">
      <%= f.label :cover_image_link %>
      <%= f.text_field :cover_image_link %>
    </div>
  </div>
  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', competitions_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
