<% cache(['upcoming_competitions',@upcoming_competitions.count, @upcoming_competitions.maximum(:updated_at),member_is_admin?]) do %>
<div style="height:30px">
</div>
<% unless @upcoming_competitions.empty? %>
<div class="card-panel">
  <h3 class="center-align"> Time left until <%= @upcoming_competitions[0].name %></h3>
  <div class="countdown row" data-datetime="<%= @upcoming_competitions[0].start_date.in_time_zone.iso8601 %>">
    <div class="col s3 center-align"><h5><span class="days"></span> days</h5></div>
    <div class="col s3 center-align"><h5><span class="hours"></span> hrs</h5></div>
    <div class="col s3 center-align"><h5><span class="minutes"></span> mins</h5></div>
    <div class="col s3 center-align"><h5><span class="seconds"></span> secs</h5></div>
  </div>
</div>
<% end %>
<% if member_is_admin? %>
<%= link_to 'New Competition', new_competition_path, class: "btn-bordered" %>
<% end %>
<% unless @upcoming_competitions.empty? %>
<h1 class="flow-text">Upcoming Competitions</h1>
<div class="row">
  <% @upcoming_competitions.each do |competition| %>
  <% cache([competition,member_is_admin?]) do %>
  <%= render competition %>
  <% end %>
  <% end %>
</div>
<% end %>
<% end %>
<% cache(['previous_competitions',@previous_competitions.count, @previous_competitions.maximum(:updated_at),member_is_admin?]) do %>
<% unless @previous_competitions.empty? %>
<h1 class="flow-text">Previous Competitions</h1>
<div class="row">
  <% @previous_competitions.each do |competition| %>
  <% cache([competition,member_is_admin?]) do %>
  <%= render competition %>
  <% end %>
  <% end %>
</div>
<% end %>
<% end %>
