<p id="notice"><%= notice %></p>

<p>
  <strong>Team stat:</strong>
  <%= @scouting_entry.team_stat&.number %>
</p>

<p>
  <strong>Member:</strong>
  <%= @scouting_entry.member&.full_name %>
</p>

<p>
  <strong>Extra note:</strong>
  <%= @scouting_entry.extra_note %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @scouting_entry.rating %>
</p>

<p>
  <strong>Drive motors:</strong>
  <%= @scouting_entry.drive_motors %>
</p>

<p>
  <strong>Drive motor type:</strong>
  <%= @scouting_entry.drive_motor_type %>
</p>

<p>
  <strong>Drive wheels:</strong>
  <%= @scouting_entry.drive_wheels %>
</p>

<p>
  <strong>Drive wheel type:</strong>
  <%= @scouting_entry.drive_wheel_type %>
</p>

<p>
  <strong>Drive configuration:</strong>
  <%= @scouting_entry.drive_configuration %>
</p>

<p>
  <strong>Drive clearance:</strong>
  <%= @scouting_entry.drive_clearance %>
</p>

<p>
  <strong>Shooter type:</strong>
  <%= @scouting_entry.shooter_type %>
</p>

<p>
  <strong>Shooter motors:</strong>
  <%= @scouting_entry.shooter_motors %>
</p>

<p>
  <strong>Shooter rpm:</strong>
  <%= @scouting_entry.shooter_rpm %>
</p>

<p>
  <strong>Intake type:</strong>
  <%= @scouting_entry.intake_type %>
</p>

<p>
  <strong>Intake motors:</strong>
  <%= @scouting_entry.intake_motors %>
</p>

<p>
  <strong>Intake motor type:</strong>
  <%= @scouting_entry.intake_motor_type %>
</p>

<p>
  <strong>Intake flip capacity:</strong>
  <%= @scouting_entry.intake_flip_capacity %>
</p>

<p>
  <strong>Lift:</strong>
  <%= @scouting_entry.lift %>
</p>

<p>
  <strong>Lift motors:</strong>
  <%= @scouting_entry.lift_motors %>
</p>

<p>
  <strong>Lift elevation:</strong>
  <%= @scouting_entry.lift_elevation %>
</p>

<p>
  <strong>Lift works:</strong>
  <%= @scouting_entry.lift_works %>
</p>

<p>
  <strong>Driver consistency:</strong>
  <%= @scouting_entry.driver_consistency %>
</p>

<p>
  <strong>Driver intelligence:</strong>
  <%= @scouting_entry.driver_intelligence %>
</p>

<p>
  <strong>Preloads capacity:</strong>
  <%= @scouting_entry.preloads_capacity %>
</p>

<p>
  <strong>Shooter consistency:</strong>
  <%= @scouting_entry.shooter_consistency %>
</p>

<p>
  <strong>Shooter range:</strong>
  <%= @scouting_entry.shooter_range %>
</p>

<p>
  <strong>Autonomous strategy:</strong>
  <%= @scouting_entry.autonomous_strategy %>
</p>

<p>
  <strong>Autonomous preload points:</strong>
  <%= @scouting_entry.autonomous_preload_points %>
</p>

<p>
  <strong>Autonomous field points:</strong>
  <%= @scouting_entry.autonomous_field_points %>
</p>

<p>
  <strong>Autonomous reliability:</strong>
  <%= @scouting_entry.autonomous_reliability %>
</p>

<p>
  <strong>Stalling:</strong>
  <%= @scouting_entry.stalling %>
</p>

<p>
  <strong>Connection issues:</strong>
  <%= @scouting_entry.connection_issues %>
</p>

<%= link_to 'Edit', edit_scouting_entry_path(@scouting_entry) %> |
<%= link_to 'Back', scouting_entries_path %>
