<%= form_for(@video) do |f| %>
  <%= errors_for @video %>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="col s12 input-field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    <div class="col s12 input-field">
      <%= f.label :youtube_vid, "Youtube ID" %>
      <%= f.text_field :youtube_vid %>
    </div>
  </div>
  <div class="row">
    <div class="date-field col s12">
      <%= f.label :upload_date %>
      <%= date_field_tag 'video[upload_date]', nil, class: "datepicker", data: { value: f.object.upload_date.try(:strftime,'%A, %B %d, %Y') } %>
    </div>
  </div>
  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', videos_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
