<% method = method.to_s.underscore %>
<% datetime = f.object.send(method) %>
<div class="row">
  <div class="date-field col s12 m6 l6">
    <label for="event_<%= method %>_date"><%= method.titleize %></label>
    <input type="date" class="datepicker" name="event[<%= method %>][date]" id="event_<%= method %>_date" data-value="<%= (datetime || Date.current.next).strftime('%Y/%-m/%-d') %>">
  </div>
  <div class="input-field col s6 m3 l3">
    <label for="event_<%= method %>_hour">Hour</label>
    <input type="number" name="event[<%= method %>][hour]" id="event_<%= method %>_hour" min="0" max="24" value="<%= datetime.try(:hour) || 24 %>">
  </div>
  <div class="input-field col s6 m3 l3">
    <label for="event_<%= method %>_minute">Minute</label>
    <input type="number" name="event[<%= method %>][minute]" id="event_<%= method %>_minute" min="0" max="60" value="<%= datetime.try(:minute) || 0 %>">
  </div>
</div>
