<%= form_for(@event) do |f| %>
  <%= errors_for f.object %>

  <%= render partial: "posts/post_fields", locals: {f: f} %>
  <!--
  <div class="row">
    <div class="datetime input-field s12 m8 l6">
      <label for="event_start_at_date">Start At</label>
      <div>
      <input type="date" class="datepicker" name="event[start_at][date]" id="event_start_at_date" data-value="<%= Date.current.strftime('%Y/%-m/%-d') %>">
      <input type="number" name="event[start_at][hour]" min="0" max="24" value="24">
      <input type="number" name="event[start_at][minute]" min="0" max="60" value="00">
      </div>
    </div>
  </div>-->
  <div class="row">
    <div class="col s12 m6 l6">
      <label for="event_end_at_date">End At</label>
      <input type="date" class="datepicker" name="event[end_at][date]" id="event_end_at_date" data-value="<%= Date.current.strftime('%Y/%-m/%-d') %>">
    </div>
    <div class="input-field col s6 m3 l3">
      <label for="event_end_at_hour">Hour</label>
      <input type="number" name="event[end_at][hour]" id="event_end_at_hour" min="0" max="24" value="24">
    </div>
    <div class="input-field col s6 m3 l3">
      <label for="event_end_at_minute">Minute</label>
      <input type="number" name="event[end_at][minute]" id="event_end_at_minute" min="0" max="60" value="00">
    </div>
  </div>
  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn' %>
      <%= link_to 'Back', posts_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
