<%= form_for(@event) do |f| %>
  <%= errors_for f.object %>

  <%= render partial: "posts/post_fields", locals: {f: f} %>
  <%= render partial: "event_datetime", locals: {f: f, method: :start_at} %>
  <%= render partial: "event_datetime", locals: {f: f, method: :end_at} %>
  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', posts_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
