<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<div>
  <strong>Description:</strong>
  <div class="markdown"><%= markdown(@event.description) %></div>
</div>

<div>
  <strong>Type:</strong>
  <%= @event.model_name.human %>
</div>

<p>
  <strong>For:</strong>
  <%= @event.restriction.capitalize %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', posts_path %>
