<%= form_for(@sponsor) do |f| %>
  <%= errors_for @sponsor %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field col s12">
      <%= f.text_area :description, class: 'materialize-textarea' %>
      <%= f.label :description %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :image_link %>
      <%= f.text_field :image_link %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :facebook_link %>
      <%= f.text_field :facebook_link %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :twitter_link %>
      <%= f.text_field :twitter_link %>
    </div>
    <div class="input-field col s12 l6">
      <%= f.label :website_link %>
      <%= f.text_field :website_link %>
    </div>
  </div>
  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', sponsors_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
