<h1 class="flow-text">Sponsors</h1>
<% if member_is_admin? %>
<%= link_to 'New Sponsor', new_sponsor_path, class: "btn-bordered" %>
<% end %>
<% cache(['sponsors',@sponsors,member_is_admin?]) do %>
<div class="row">
  <% @sponsors.each do |sponsor| %>
  <% cache([sponsor,member_is_admin?]) do %>
  <div class="col s12 m6 l6">
    <div class="sponsor-card card">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="square-wrapper">
          <div class="square valign-wrapper">
            <%= image_tag sponsor.image_link, class: "activator valign" %>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-title activator">
          <%= sponsor.name %>
          <i class="material-icons">more_vert</i>
        </div>
        <p>
          <% unless sponsor.facebook_link.empty? %>
          <a href="<%= sponsor.facebook_link %>" class="sponsor-social">
            <%= image_tag 'sponsors/socials/facebook.png' %>
          </a>
          <% end %>
          <% unless sponsor.twitter_link.empty? %>
          <a href="<%= sponsor.twitter_link %>" class="sponsor-social">
            <%= image_tag 'sponsors/socials/twitter.png' %>
          </a>
          <% end %>
          <% unless sponsor.website_link.empty? %>
          <a href="<%= sponsor.website_link %>" class="sponsor-social" >
            <%= image_tag 'sponsors/socials/web.png' %>
          </a>
          <% end %>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><%= sponsor.name %><i class="material-icons right">close</i></span>
        <p><%= sponsor.description %></p>
        <% if !sponsor.facebook_link.empty? %><p><a href="<%= sponsor.facebook_link %>">Facebook</a></p><% end %>
        <% if !sponsor.twitter_link.empty? %><p><a href="<%= sponsor.twitter_link %>">Twitter</a></p><% end %>
        <% if !sponsor.website_link.empty? %><p><a href="<%= sponsor.website_link %>">Website</a></p><% end %>
        <% if member_is_admin? %>
        <p class="large-padding-bottom"><%= link_to 'Edit', edit_sponsor_path(sponsor) %> | <%= link_to 'Delete', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
