<h1 class="flow-text">Listing Sponsors</h1>
<% if member_is_admin? %>
<%= link_to 'New Sponsor', new_sponsor_path, class: "btn-bordered" %>
<% end %>

<div class="row">
  <% @sponsors.each do |sponsor| %>
  <div class="col s12 m6 l6">
    <div class="sponsor-card card">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="square-wrapper">
          <div class="square valign-wrapper">
            <%= image_tag sponsor.image_link, class: "activator valign" %>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-title activator">
          <% if !sponsor.facebook_link.empty? %>
          <a href="<%= sponsor.facebook_link %>" class="sponsor-social hide-on-med-and-down">
            <img src="<%= asset_path 'fb_icon.gif' %>">
          </a>
          <% end %>
          <% if !sponsor.twitter_link.empty? %>
          <a href="<%= sponsor.twitter_link %>" class="sponsor-social hide-on-med-and-down">
            <img src="<%= asset_path 'twitter_icon.png' %>">
          </a>
          <% end %>
          <div class="sponsor-link-w">
          <a class="sponsor-link" href="<%= sponsor.website_link %>"><%= sponsor.name %></a>
          </div>
          <i class="material-icons right sponsor-more">more_vert</i>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title"><%= sponsor.name %><i class="material-icons right">close</i></span>
        <p><%= sponsor.description %></p>
        <% if !sponsor.facebook_link.empty? %><p><a href="<%= sponsor.facebook_link %>">Facebook</a></p><% end %>
        <% if !sponsor.twitter_link.empty? %><p><a href="<%= sponsor.twitter_link %>">Twitter</a></p><% end %>
        <% if member_is_admin? %>
        <p><%= link_to 'Edit', edit_sponsor_path(sponsor) %> | <%= link_to 'Delete', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
