<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsor.description %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @sponsor.image_link %>
</p>

<p>
  <strong>Facebook link:</strong>
  <%= @sponsor.facebook_link %>
</p>

<p>
  <strong>Twitter link:</strong>
  <%= @sponsor.twitter_link %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @sponsor.website_link %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
