<div id="checkin_group" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Check In Group</h4>
    <%= form_tag '/checkin_group',id: 'checkin_group_form', :method => "post" do |f| %>
    <b class="flow-text">Select members:</b>
    <br>
    <% Member.order(:first_name => :asc).each do |x| %>
      <% unless x.attendances.order(start_at: :DESC).take.today? %>
      <p style="padding-left:5px;">
      <input type="checkbox" value="<%= x.id %>" name="checkin_group_array[]" id="in<%= x.id %>" />
      <label style="color:#333;" class="flow-text" for="in<%= x.id %>"><%= x.full_name %> - Grade <%= x.grade %></label>
      </p>
      <% end%>
    <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="submit" onclick="getElementById('checkin_group_form').submit()" class="btn">Check In</button>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<div id="checkout_group" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Check Out Group</h4>
    <%= form_tag '/checkout_group',id: 'checkout_group_form', :method => "post" do |f| %>
    <b class="flow-text">Select members:</b>
    <br>
    <% Member.order(:first_name => :asc).each do |x| %>
      <input type="checkbox" value="<%= x.id %>" name="checkout_group_array[]" id="out<%= x.id %>" />
      <label style="color:#333;" class="flow-text" for="out<%= x.id %>"><%= x.full_name %></label>
      <br>
    <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="submit" onclick="getElementById('checkout_group_form').submit()" class="btn">Check Out</button>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>

<nav style="background-color:white;margin-top:20px;">
<div class="nav-wrapper">
<%= form_tag '/search', method:'get', class:'form-inline float-right', role:'form' do %>
<div class="input-field">
  <input id="search" name="text" type="search" placeholder="Enter Student Number..." required>
  <label class="hide-on-small-only" for="search"><i style="color:#ffab00;" class="material-icons">search</i></label>
</div>
<% end %>
</div>
</nav>

<% if @event_today == true %>
  <h1 class="flow-text">Todays Events</h1>
  <% @event_list.each do |f| %>
    <div class="card-panel">
      <b><%= f.title %></b>
      <br>
      <%= f.start_at.strftime("%l:%M %p") %>
      &nbsp;to&nbsp;
      <%= f.end_at.strftime("%l:%M %p") %>
      <span style="float:right;" class="material-icons"><%= link_to 'today', {:controller => "pages", :action => "event", :id => f.id }%></span>
    </div>
  <% end %>
<% end %>
<br>
<div class="row center-align">
  <%= link_to 'Check In Group', '/checkin_group', class: 'modal-switch waves-effect waves-light btn', href: "#checkin_group", style: "margin-bottom:1px;" %>
</div>

<hr>
<% if !@checkedin.empty? %>
<h1 class="flow-text">Checked In</h1>
<%= link_to 'Check Out All', '/checkout_all', class: 'btn-bordered', method: :post, data: { confirm: 'Are you sure?' } %>
&nbsp;&nbsp;
<%= link_to 'Check Out Group', '/checkout_group', class: 'modal-switch btn-bordered', href: "#checkout_group" %>
<div class="card-panel">
  <table>
    <thead>
      <th>Name</th>
      <th class="hide-on-small-only">Student Number</th>
      <th>Check In</th>
    </thead>
    <tbody>
      <% @checkedin.each do |f| %>
        <% if !f.nil? %>
          <tr>
            <td><a href="/members/<%= Member.find(f.member_id).id %>/attendances"><%= Member.find(f.member_id).full_name %></a></td>
            <td class="hide-on-small-only"><%= Member.find(f.member_id).student_number %></td>
            <td><%= f.start_at.strftime('%l:%M %p') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<% if @checkedout.empty? %>
<h1 class="flow-text center-align">No one has checked in yet...</h1>
<% end %>
<% end %>

<% if !@checkedout.empty? %>
<h1 class="flow-text">Checked Out</h1>
<div class="card-panel">
  <table>
    <thead>
      <th>Name</th>
      <th class="hide-on-small-only">Student Number</th>
      <th>Duration</th>
      <th>Check In</th>
      <th>Check Out</th>
    </thead>
    <tbody>
      <% @checkedout.each do |f| %>
        <% if !f.nil? %>
          <tr>
            <% time_diff = f.end_at - f.start_at %>
            <% f.update_attribute(:duration, Time.at(time_diff.to_i.abs).utc.strftime("%H:%M")) %>
            <td><a href="/members/<%= Member.find(f.member_id).id %>/attendances"><%= Member.find(f.member_id).full_name %></a></td>
            <td class="hide-on-small-only"><%= Member.find(f.member_id).student_number %></td>
            <td><%= distance_of_time_in_words(Time.parse("0:0"), Time.parse(f.duration)) %></td>
            <td><%= f.start_at.strftime('%l:%M %p') %></td>
            <td><%=f.end_at.strftime('%l:%M %p') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
