
<nav style="background-color:white;margin-top:20px;">
<div class="nav-wrapper">
<%= form_tag '/search', method:'get', class:'form-inline float-right', role:'form' do %>
<div class="input-field">
  <input id="search" name="text" type="search" placeholder="Enter Student Number..." required>
  <label class="hide-on-small-only" for="search"><i style="color:#ffab00;" class="material-icons">search</i></label>
</div>
<% end %>
</div>
</nav>

<% if @event_today == true %>
  <h1 class="flow-text">Todays Events</h1>
  <% @event_list.each do |f| %>
    <div class="card-panel">
      <b><%= f.title %></b>
      <br>
      <%= f.start_at.strftime("%l:%M %p") %>
      &nbsp;to&nbsp;
      <%= f.end_at.strftime("%l:%M %p") %>
      <span style="float:right;" class="material-icons"><%= link_to 'today', {:controller => "pages", :action => "event", :id => f.id }%></span>
    </div>
  <% end %>
<% end %>

<% if !@checkedin.empty? %>
<h1 class="flow-text">Checked In</h1>
<div class="card-panel">
  <table>
    <thead>
      <th>Name</th>
      <th class="hide-on-small-only">Student Number</th>
      <th>Check In</th>
    </thead>
    <tbody>
      <% @checkedin.each do |f| %>
        <% if !f.nil? %>
          <tr>
            <td><a href="/members/<%= Member.find(f.member_id).id %>/attendances"><%= Member.find(f.member_id).full_name %></a></td>
            <td class="hide-on-small-only"><%= Member.find(f.member_id).student_number %></td>
            <td><%= f.start_at.strftime('%l:%M %p') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<% if @checkedout.empty? %>
<h1 class="flow-text center-align">No one has checked in yet...</h1>
<% end %>
<% end %>
<% if !@checkedout.empty? %>
<h1 class="flow-text">Checked Out</h1>
<div class="card-panel">
  <table>
    <thead>
      <th>Name</th>
      <th class="hide-on-small-only">Student Number</th>
      <th>Duration</th>
      <th>Check In</th>
      <th>Check Out</th>
    </thead>
    <tbody>
      <% @checkedout.each do |f| %>
        <% if !f.nil? %>
          <tr>
            <% time_diff = f.end_at - f.start_at %>
            <% f.update_attribute(:duration, Time.at(time_diff.to_i.abs).utc.strftime("%H:%M")) %>
            <td><a href="/members/<%= Member.find(f.member_id).id %>/attendances"><%= Member.find(f.member_id).full_name %></a></td>
            <td class="hide-on-small-only"><%= Member.find(f.member_id).student_number %></td>
            <td><%= distance_of_time_in_words(Time.parse("0:0"), Time.parse(f.duration)) %></td>
            <td><%= f.start_at.strftime('%l:%M %p') %></td>
            <td><%=f.end_at.strftime('%l:%M %p') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
