<% content_for :above_container do %>
<div class="row">
    <div class="slider indicators-inside" data-vh-minus="160">
      <ul class="slides">
        <li>
          <%= image_tag 'pages/home/slider_image_0.jpg' %>
          <div class="caption right-align">
            <h3>4659 Warrior Robotix</h3>
            <h5 class="light grey-text text-lighten-3">
              Port Credit<span class="hide-on-small-and-down"> Secondary School</span>
            </h5>
          </div>
        </li>
        <li>
          <%= image_tag 'pages/home/slider_image_1.jpg' %>
        </li>
        <li>
          <%= image_tag 'pages/home/slider_image_2.jpg' %>
          <div class="caption center-align">
            <h3>Vex Worlds Divison Finalist</h3>
          </div>
        </li>
        <li>
          <%= image_tag 'pages/home/slider_image_3.jpg' %>
          <div class="caption center-align">
            <h3>Design. Build. Win.</h3>
          </div>
        </li>
      </ul>
    </div>
</div>
<% end %>
<div class="home-join-us center-align">
  <h5 class="flow-text">Become a member!</h5>
  <%= link_to 'Register', register_path, class: 'btn' %>
</div>
<div class="row">
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag 'pages/home/vex2015.jpg', class: 'activator' %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">VEX<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">VEX Robotics<i class="material-icons right">close</i></span>
        <p>VEX Robotics offers students a way to test out robotics while giving a simplified version of the engineering process allowing for a fulfilling learning process that gives students a chance to practice marketing, programming, and building. VEX is better for those who like having a set structure but enjoying exploring the possibilities of design. VEX also has roles for those who don’t want to work directly on the robot by providing options to do scouting and marketing themselves to other teams to build alliances.</p>
        <a class="waves-effect waves-light btn" href="/vex">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag 'pages/home/skills2013.jpg', class: 'activator' %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Skills<i class="material-icons right">more_vert</i></span>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Skills Canada<i class="material-icons right">close</i></span>
        <p>Skills Robotics (Skills Canada) offers students a chance to push the boundaries of engineering by giving students a safe learning environment where they are taught to use machinery and their brains to solve the unique challenges thrown at them. Skills provides students with a chance to hone in their machining skills, while also developing upon their critical thinking, time management, ingenuity, and a perseverance skills. While Skills is usually open to those who have used machinery as it requires a degree of skill those who show a desire to learn may be accepted.</p>
        <%= link_to 'Learn More', skills_path, class: 'waves-effect waves-light btn' %>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag 'pages/home/hami.jpg', class: 'activator' %>
      </div>
      <div class="card-content" >
        <span class="card-title activator grey-text text-darken-4 ">Other<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Other Events<i class="material-icons right">close</i></span>
        <p>CETA (Computer Engineering Teachers Association) and FRC (FIRST Robotics Competition) are other robotics events that Warrior Robotix takes part in. CETA revolves around the idea of taken a simple robot and being able to program it to do a certain task such as line following. FRC is what many regard as the most highly recognized robotics event and it is similar to Skills Robotics in that the design is completely up to the team and how they want to build it but also programming it.</p>
      </div>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12 large-margin-bottom">
    <h5 class="flow-text">Mission Statement</h5>
  </div>
  <div class="col s12 m6">
    <%= image_tag 'pages/home/mission_statement.jpg', style: 'width: 100%' %>
  </div>
  <div class="col s12 m6 flow-text front-page-content large-margin-bottom">
    <div class="text-description">
      Warrior Robotix aims to create skills for the workforce that students can apply anywhere, but also skills required for daily life, like making quick decisive choices, communicating ideas effectively, and fostering healthy relationships with other people through the challenges brought on  by engineering and the companionship that comes with a team. We aim to not only Design-Build-Win at robotics but also at life.
      <br>
      <blockquote>
        “Warrior Robotix prepares its members to not only become successful workers but successful people through robotics and the challenges that come with it.”
      </blockquote>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12 large-margin-bottom">

    <h5 class="flow-text">2015-2016 Vex Competition - Nothing But Net</h5>
  </div>
  <div class="col s12 m6 flow-text front-page-content large-margin-bottom">
    <div class="text-description">
      VEX Robotics Competition Nothing But Net is played on a 12’x12’ square field configured as seen above. Two alliances – one “red” and one “blue” – composed of two teams each, compete in matches consisting of a fifteen second autonomous period followed by one minute and forty-five seconds of driver-controlled play.
      <br/><br/>
      The objective of the game is to attain a higher score than the opposing Alliance by Scoring your Balls and Bonus Balls in your Low and High Goals, and by Elevating Robots in your Climbing Zone.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/A8daR6qBw3M" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12 large-margin-bottom">
    <h5 class="flow-text">2014-2015 Vex Competition - Skyrise</h5>
  </div>
  <div class="col s12 flow-text front-page-content large-margin-bottom">
    <div class="text-description">
      <div class="col s12 m6 video-wrapper left">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/YgRPyZACRc4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      VEX Skyrise was the latest challenge thrust upon us. The premise was fairly simple, putting cubes on to posts that dotted the edges of the arena. However, there were also yellow pegs called skyrises that could be stacked upon to create a 5 foot tall tower! Additional cubes can then be placed on these skyrises for even more points. During the first competition we were on a slow start but managed to make it to the quarterfinals, we also won the Judges Award. We tweaked around our design and despite some issues we managed to make it to the semi-finals and play five tiebreaker rounds before losing. 2 weeks were spent rebuilding and it paid off when we won the next competition and two additional awards: Programming Skills and The Think. Having achieved our berth in the provincials we had another competition left. We ended up winning the tournament and taking home another two awards: Robot Skills and Excellence. When we made it to the provincials we ended up in the semi-finals and won the Innovate award. Also, due to our proficiency in robot and programming skills we were invited to the World Championships in Louisville, Kentucky. The next two months were devoted to practice, refinement,  and scouting. During the competition we did exceptionally well and made it to the Division Finals before losing to the team who would be the champions. While upset that we didn’t win we know that much more for the next competition: Nothing but Net!
    </div>
  </div>
</div>
