<% title 'FRC/CETA' %>
<h3>FIRST Robotic Canada</h3>
<div class="home-info row">
  <div class="col s12 m5">
    <%= image_tag 'pages/other_competitions/first.gif', class: 'materialboxed hover responsive-img', style: 'width:100%' %>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      FRC is the highest level of robotics competition offered by FIRST. Students are tasked with building a robot that will compete in high intensity robo-sports from scratch in only 6 weeks. FRC combines the excitement of sports with the rigors of science and technology, it has been known as “The varsity sport for the mind”. Under strict rules, limited resources, and time limits, teams of 25 students or more are challenged to raise funds, design a team “brand,” hone teamwork skills, and build and program robots to perform prescribed tasks against a field of competitors. It’s as close to “real-world engineering” as a student can get. With the help of volunteer professionals and mentors, students are able to go beyond the boundaries of tradition education and learn exceptional things.
    </div>
    <br>
    <%= link_to 'Full Scope', 'http://www.usfirst.org/roboticsprograms/frc', class: 'btn' %>
  </div>
</div>
<div class="home-info row">
  <div class="col s12 m5">
    <%= image_tag 'pages/other_competitions/frc1.jpg', class: 'materialboxed hover responsive-img', style: 'width:100%' %>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      Warrior Robotic entered FRC for the first time in 2012-2013 year of school. The competitions at that time was Ultimate Ascent, where robots were tasked with throwing Frisbees at multiple goals and having to be able to climb a pyramid in the middle of the field. Right from the start our team face multiple problems, as the Peel District School Board was on a strike. This meant that teachers could not take part in extracurricular activities. To compensate the team managed to work and store equipment in a small warehouse where they worked tirelessly to complete the robot. The limited resources at our disposal severely hindered us we managed to scrape by and complete a robot that was adequate enough for the competition. Although the Team had put in much effort and gave it their best shot the robot did not do every well because of the many issues we faced. It was unfortunate that we were unable to capture the level of excellence that we have had in other competitions but we have hope that the club may potentially once again be able to FRC when it has matured more and grown further.
    </div>
  </div>
</div>
<div class="thick-divider"></div>
<h3>Computer Engineering Teacher Association Competition</h3>
<div class="home-info row small-margin-top">
  <div class="col s12 m5">
    <%= image_tag 'pages/other_competitions/ceta.png', class: 'materialboxed hover responsive-img', style: 'width:100%' %>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      This robotics competition is designed for students enrolled in Computer Engineering, and/or other technological disciplines, who are involved in building a line-following robot that functions autonomously.
      <br> The students that participate in this challenge will be drawing from several skill sets. The robot requires both mechanical and electrical design. As well, students will be required to program the robot to accept sensory information and respond appropriately so that it efficiently completes the challenges. Also, students must demonstrate good communication skills.
      <br> The competition has been designed so that competitors of all levels can participate and showcase their knowledge and understanding of robotics.
    </div>
    <br>
    <%= link_to 'Full Scope', 'http://www.usfirst.org/roboticsprograms/frc', class: 'btn' %>
  </div>
</div>
