<h1><%= title 'Skills Canada' %></h1>
<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag 'pages/skills/slider_image_0.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/skills/slider_image_1.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/skills/slider_image_2.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/skills/slider_image_3.jpg' %>
      </li>
    </ul>
  </div>
</div>
<div class="home-info row" style="margin-top:30px;">
  <div class="col s12">
    <h5>About Skills Canada</h5>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      <p>
        The Skills Canada National Competitions are a branch of the WorldSkills Organization.
      </p>
      <p>
        They devote themselves to introducing teenagers and young adults to the world of skilled trades. Skilled labour is very important especially here in Canada where most of the skilled labourers are retiring leaving a vacuum for a newer, better informed workforce. Skilled trades include everything from construction all the way to chefs. Without these skilled jobs there would be huge problems that most Canadians wouldn’t know how to fix. The problem is many students don’t want to do these jobs since they have been considered lesser jobs compared to doctors or engineers. Skills Canada promotes these trades through events where students have to use their knowledge of the desired competition to help solve these challenges. This provides a fun and interactive way for students to not only learn about these exciting careers but also to help nudge students into pursuing these types of jobs.
      </p>
    </div>
    <br>
    <%= link_to 'Full Scope', 'http://www.skillsontario.com/competitions/otsc-sec/scopes', class: 'btn' %>
  </div>
  <div class="col s12 m5">
    <%= image_tag 'pages/skills/skills_ontario_logo.jpg', class: 'materialboxed hover responsive-img', style: 'width:100%;' %>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Our team</h5>
  </div>
  <div class="col s12 front-page-content">
    <div class="col s12 m6 video-wrapper right">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jh-ISXRleJ8?list=PLzEvPVfwqvumNUm23nDnCg8b_Fw2fqd0l" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="text-description flow-text">
      <p style="margin-top:0;">
        Skills Robotics (Skills Canada) offers students a chance to push the boundaries of engineering by giving students a safe learning environment where they are taught to use machinery and their brains to solve the unique challenges thrown at them. Skills provides students with a chance to hone in their machining skills, while also developing upon their critical thinking, time management, ingenuity, and a perseverance skills. While Skills is usually open to those who have used machinery as it requires a degree of skill those who show a desire to learn may be accepted.
      </p>
      <p>
        The 2012 Skills Challenge dealt with having to move wooden pallets into a 5x5 grid against another robot.  There was also the added challenge of having to traverse an obstacle either a maze, a ramp, or a flight of stairs. The robot itself required a lot of planning and a chassis was built out of aluminum and had omnidirectional wheels to provide better mobility. The lift was similar to a forklift and the intake system was like a conveyor belt. There was only the one competition that year and there were still few participants but they were still some of the best in the Peel Region. It was tough but in the end we had won and had qualified to the provincial competition in Waterloo. During the provincials there was initially some concerns because of how well programmed our robot was and after some clarification on both sides we continued unhindered the rest of the way. After managing to do pretty well throughout the competition the team managed to secure a bronze medal at this event. While not qualifying for the 2014 International Competition in Rio de Janeiro, Brazil, we were still proud at our work.
      </p>
      <p>
      	In 2013 the competition had to deal with shooting hockey pucks onto a raised scoring platform. The team this year had made a robot that was agile and ingeniously used a hammer as a method to hit the puck. There was a great amount of tuning and refining for that shooter and during the in-house mock games that went on the team did exceptionally. Unfortunately, during the regional tournament the team couldn’t not place well enough to represent Peel in the provincial competition. While disappointed in their performance there they knew what they were capable of and refused to give up.

      	2014’s Skills challenge was given the scenario of two farmers accidently growing crops in the same patch of land and having to sell their product before their rival. The team toiled away on different methods and strategies. They were inspired by the large wheat collection machines often used out in western Canada and applied similar logic to their robot. Again the team was just barely unable to secure a position for the provincials but once again they were also not discouraged by their momentary defeat.
      </p>
      <p>
        Every year the Robot and Control Systems competition has the same challenge. There are two different coloured balls and they need to be sorted appropriately without mistake. Hours upon hours were given to our team to master not only building the device and program it but also on how to improve upon the current design. In 2012 and 2013 our team had won gold in this event and were snubbed in 2014 and having to settle with a respectable silver medal.
      </p>
    </div>
  </div>
</div>
