<h1><%= title 'Skills Canada' %></h1>
<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag 'pages/skills/slider_image_0.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/skills/slider_image_1.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/skills/slider_image_2.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/skills/slider_image_3.jpg' %>
      </li>
    </ul>
  </div>
</div>
<div class="home-info row" style="margin-top:30px;">
  <div class="col s12">
    <h5>About Skills</h5>
  </div>
  <div class="col s12 m5">
    <%= image_tag 'pages/skills/skills_ontario_logo.jpg', class: 'materialboxed hover responsive-img', style: 'width:100%;' %>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      Skills Ontario, their are a number of Skills Competitions to expose and engage Ontario youth to the exciting world of skilled trades and technologies. Some of competitions include Skills Robotics and Virtual Robotics, and numerous components of the Ontario Technological Skills Competition. Please use the buttons below to access further information on each of the competitions.
    </div>
    <br>
    <%= link_to 'Full Scope', 'http://www.skillsontario.com/competitions/otsc-sec/scopes', class: 'btn' %>
  </div>
</div>
<div class="home-info row">
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      Skills Robotics (Skills Canada) offers students a chance to push the boundaries of engineering by giving students a safe learning environment where they are taught to use machinery and their brains to solve the unique challenges thrown at them. Skills provides students with a chance to hone in their machining skills, while also developing upon their critical thinking, time management, ingenuity, and a perseverance skills. While Skills is usually open to those who have used machinery as it requires a degree of skill those who show a desire to learn may be accepted.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jh-ISXRleJ8?list=PLzEvPVfwqvumNUm23nDnCg8b_Fw2fqd0l" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
