<% @teams.each do |team| %>
<div id="teamadd<%= team.id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add Members to <%= team.name %></h4>
    <%= form_tag '/add_team_member',id: 'add_team_member_form', :method => "post" do |f| %>
    <b class="flow-text">Select members:</b>
    <br>
    <% @members.each do |x| %>
      <p style="padding-left:5px;">
      <input type="checkbox" value="<%= x.id %>" name="add_team_member_array[]" id="member<%= x.id %>" />
      <label style="color:#333;" class="flow-text" for="member<%= x.id %>"><%= x.full_name %></label>
      </p>
    <% end %>
    <%= hidden_field_tag 'teamid', team.id %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="submit" onclick="getElementById('add_team_member_form').submit()" class="btn">Add Members</button>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>
<% end %>

<% @teams.each do |team| %>
<div id="teamremove<%= team.id %>" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Remove Members from <%= team.name %></h4>
    <%= form_tag '/remove_team_member',id: 'remove_team_member_form', :method => "post" do |f| %>
    <b class="flow-text">Select members:</b>
    <br>
    <% @removemembers.each do |x| %>
      <% if x.team_id == team.id %>
      <p style="padding-left:5px;">
      <input type="checkbox" value="<%= x.id %>" name="remove_team_member_array[]" id="member<%= x.id %>" />
      <label style="color:#333;" class="flow-text" for="member<%= x.id %>"><%= x.full_name %></label>
      </p>
      <% end %>
    <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="submit" onclick="getElementById('remove_team_member_form').submit()" class="btn">Remove Members</button>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
</div>
<% end %>


<h1 class="flow-text">Team Editor</h1>
<div class="card-panel">
<table>
  <thead>
    <tr>
      <th>Team Name</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><a href="teams/<%= team.id %>"><%= team.name %></a></td>
        <td><a class="modal-switch" href="#teamadd<%= team.id %>">Add Members</a></td>
        <td><a class="modal-switch" href="#teamremove<%= team.id %>">Remove Members</a></td>
        <td class="right-align"><%= link_to 'create', edit_team_path(team), class: 'material-icons' %>&nbsp;&nbsp;
        <%= link_to 'delete', team, method: :delete, class: 'material-icons', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'New Team', new_team_path, class: 'btn' %>
