<h1 class="flow-text">Team Editor</h1>
<table>
  <thead>
    <tr>
      <th>Team Name</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><a href="teams/<%= team.id %>"><%= team.name %></a></td>
        <td><a href="#">Add Members</a></td>
        <td><a href="#">Remove Members</a></td>
        <td class="right-align"><%= link_to 'create', edit_team_path(team), class: 'material-icons' %>&nbsp;&nbsp;
        <%= link_to 'delete', team, method: :delete, class: 'material-icons', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Team', new_team_path, class: 'btn' %>
