<h1><%= title 'Vex' %></h1>
<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag 'pages/vex/slider_image_0.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/vex/slider_image_1.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/vex/slider_image_2.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/vex/slider_image_3.jpg' %>
      </li>
    </ul>
  </div>
</div>
<div class="home-info row" style="margin-top:30px;">
  <div class="col s12">
    <h5>About Vex</h5>
  </div>
  <div class="col s12 m5">
    <%= image_tag 'pages/home/mission_statement.jpg', class: 'materialboxed hover responsive-img', style: 'width:100%' %>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      VEX Robotics offers students a way to test out robotics while giving a simplified version of the engineering process allowing for a fulfilling learning process that gives students a chance to practice marketing, programming, and building. VEX is better for those who like having a set structure but enjoying exploring the possibilities of design. VEX also has roles for those who don’t want to work directly on the robot by providing options to do scouting and marketing themselves to other teams to build alliances.
    </div>
    <br>
    <%= link_to 'Full Scope', 'http://www.vexrobotics.com', class: 'btn' %>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Nothing But Net 2015 - 2016</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Robotics Competition Nothing But Net is played on a 12’x12’ square field configured as seen above. Two alliances – one “red” and one “blue” – composed of two teams each, compete in matches consisting of a fifteen second autonomous period followed by one minute and forty-five seconds of driver-controlled play.
      <br/><br/>
      The objective of the game is to attain a higher score than the opposing Alliance by Scoring your Balls and Bonus Balls in your Low and High Goals, and by Elevating Robots in your Climbing Zone.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/A8daR6qBw3M" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Skyrise 2014 - 2015</h5>
  </div>
  <div class="col s12 front-page-content">
    <div class="text-description flow-text read-more-box">
      <div class="col s12 m6 video-wrapper">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/YgRPyZACRc4" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <p class="no-vertical-margin">
        VEX Skyrise was the latest challenge thrust upon us. The premise was fairly simple, putting cubes on to posts that dotted the edges of the arena. However, there were also yellow pegs called skyrises that could be stacked upon to create a 5 foot tall tower! Additional cubes can then be placed on these skyrises for even more points. We toiled away in garages working up our next creation during the summer and by the time the first competition came around we felt pretty good about or work. We hit some rough patches during the games and while we weren’t within the top 8 teams we were however in a decent spot to get picked by a team which indeed happened. We didn’t make it far being eliminated early on during the quarter finals but we managed to receive our very first award: the Judges Award. After seeing the speed of other teams doing the skyrise tower we decided to do it better than other teams and at the next competition we went to we were plagued with balance issues but still managed to make it to the semi-finals. After five tiebreaker rounds we finally succumbed to the other alliance. At this point we spent 2 weeks redesigning and and reconfiguring until we had a robot that was mechanically sound and had a fairly solid autonomous period. The losses we faced at the previous competition only added passion and intensity to our drive of making it past the regional stage of VEX. This drive and passion made it possible for us to win the next tournament and also take home two other awards related to programming: Programming Skills and the Think Award. Finally satisfied with being able to achieve a berth to the provincial stage we took this time to mentor our smaller teams. Even with our attention divided we managed to win the tournament again and win awards for Driver Skills and the Excellence Award. Not wanting to rest on our laurels we tweaked and refined our robot until the provincial competition came around. We struggled and fought and came away with an Innovate award and an invitation to the VEX World Championships in Louisville, Kentucky. The next two months was as much preparation on scouting and analyzing threats as much as it was about making the best robot possible. When we finally came to the competition there was so much tension and anticipation in the air that it was near impossible to be amazed by how far as a team we have changed from our more humble beginnings. Over the next three days we played our matches and we were very good despite our difficult schedule. When it came to the elimination rounds we made it all the way to the division finals against the team that would eventually win the championship and we put up a very close match. All the Canadian teams were cheering us on at that point as we were the last Canadians in the competition and we knew that whatever happened we would come out winners. While disappointed in being so close we know where and how to learn from mistakes and plan on taking the championship for VEX Nothing But Net!
      </p>
      <p class="read-more"><a href="#" class="btn button">Read More</a></p>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Toss Up 2013 - 2014</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Toss Up was the next challenge that was given for us to overcome. It involved having to toss multi-faced buckyballs into a scoring zone. There were also big beach balls that could be topped off on top of the columns that hold the buckyballs. The most challenging task was lifting the robot above the field and holding it there for points. We originally had a robot designed for strength and after our first competition we underperformed as the this challenge heavily relied on speed. After spending a lot of time redesigning and building we made our debut with our new robot and we were second in the rankings and semi-finalists. After this performance we became confident in this design and decided to evolve our robot to the next level by doing something no other team had been able to yet, hanging our robot during the autonomous. At our final competition of the year we were successful in doing so and made an impression that many remember to this day.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AzyCI5ibglc" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Sack Attack 2012 - 2013</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Sack Attack was the first competitions Warrior Robotix has participated in. Sack Attack involved having to take beanbag sacks and dumping them into troughs that correspond to the team colour. As we were inexperienced at the time we focused on being the very best in the tournament bracket rather than being competent at all of the available possibilities like robotic and programming skills. Our gamble worked out pretty well since we made it into the elimination portion of the tournament. However, this minor victory was overshadowed by the fact that we had not prepared a list of teams to choose when alliance selection came around. We struggled and fought hard but we couldn’t make it past the qualification rounds. While we could have been disheartened by this but instead we saw an opportunity to do better and from then on. This failure sparked the true beginning of Warrior Robotix.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fhZnkfVwCi4" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
