<h1><%= title 'Vex' %></h1>
<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag 'pages/vex/slider_image_0.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/vex/slider_image_1.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/vex/slider_image_2.jpg' %>
      </li>
      <li>
        <%= image_tag 'pages/vex/slider_image_3.jpg' %>
      </li>
    </ul>
  </div>
</div>
<div class="home-info row" style="margin-top:30px;">
  <div class="col s12">
    <h5>About Vex</h5>
  </div>
  <div class="col s12 m5">
    <%= image_tag 'pages/home/mission_statement.jpg', class: 'materialboxed hover responsive-img', style: 'width:100%' %>
  </div>
  <div class="col s12 m7 front-page-content">
    <div class="text-description flow-text">
      VEX Robotics offers students a way to test out robotics while giving a simplified version of the engineering process allowing for a fulfilling learning process that gives students a chance to practice marketing, programming, and building. VEX is better for those who like having a set structure but enjoying exploring the possibilities of design. VEX also has roles for those who don’t want to work directly on the robot by providing options to do scouting and marketing themselves to other teams to build alliances.
    </div>
    <br>
    <%= link_to 'Full Scope', 'http://www.vexrobotics.com', class: 'btn' %>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Nothing But Net 2015 - 2016</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Robotics Competition Nothing But Net is played on a 12’x12’ square field configured as seen above. Two alliances – one “red” and one “blue” – composed of two teams each, compete in matches consisting of a fifteen second autonomous period followed by one minute and forty-five seconds of driver-controlled play.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/A8daR6qBw3M" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Skyrise 2014 - 2015</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Skyrise is played on a 12’x12’ square field configured as seen above. Two alliances – one “red” and one “blue” – composed of two teams each, compete in matches consisting of a fifteen second autonomous period followed by one minute and forty-five seconds of driver-controlled play. The object of the game is to attain a higher score than the opposing Alliance by Scoring your colored Cubes in Floor Goals, on Posts or on your Skyrise, by Owning Posts, and by Building your Skyrise Sections.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YgRPyZACRc4" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Toss Up 2013 - 2014</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Toss Up was the next challenge that was given for us to overcome. It involved having to toss multi-faced buckyballs into a scoring zone. There were also big beach balls that could be topped off on top of the columns that hold the buckyballs. The most challenging task was lifting the robot above the field and holding it there for points. We originally had a robot designed for strength and after our first competition we underperformed as the this challenge heavily relied on speed. After spending a lot of time redesigning and building we made our debut with our new robot and we were second in the rankings and semi-finalists. After this performance we became confident in this design and decided to evolve our robot to the next level by doing something no other team had been able to yet, hanging our robot during the autonomous. At our final competition of the year we were successful in doing so and made an impression that many remember to this day.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AzyCI5ibglc" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="home-info row">
  <div class="col s12">
    <h5>Sack Attack 2012 - 2013</h5>
  </div>
  <div class="col s12 m6 front-page-content">
    <div class="text-description flow-text">
      VEX Sack Attack was the first competitions Warrior Robotix has participated in. Sack Attack involved having to take beanbag sacks and dumping them into troughs that correspond to the team colour. As we were inexperienced at the time we focused on being the very best in the tournament bracket rather than being competent at all of the available possibilities like robotic and programming skills. Our gamble worked out pretty well since we made it into the elimination portion of the tournament. However, this minor victory was overshadowed by the fact that we had not prepared a list of teams to choose when alliance selection came around. We struggled and fought hard but we couldn’t make it past the qualification rounds. While we could have been disheartened by this but instead we saw an opportunity to do better and from then on. This failure sparked the true beginning of Warrior Robotix.
    </div>
  </div>
  <div class="col s12 m6 video-wrapper">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fhZnkfVwCi4" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
