<div id="att_video_modal" class="modal">
  <div class="modal-content">
    <h4>Attendance System</h4>
    <div class="video-container">
      <iframe width="607" height="363" src="//www.youtube.com/embed/jEd0TA3iRUE?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<h1><%= title 'Our Website' %></h1>

<div class="home-info row small-margin-top">
  <div class="col s12 front-page-content">
    <div class="text-description flow-text">
      <div class="col s12 m6 right" style="margin-left:20px;">
        <div class="video-modal-trigger">
          <%= image_tag 'features/video.png', style: 'width:100%;', class: 'modal-switch', href: '#att_video_modal' %>
          <div class="ovarlay">
            <div>
              <i class="large material-icons outline">play_circle_outline</i>
              <i class="large material-icons filled">play_circle_filled</i>
            </div>
          </div>
        </div>
      </div>
      <p class="no-vertical-margin">
        At Warrior Robotix, we believe in doing everything by ourselves, that is why we built the website from ground up using Ruby On Rails, HTML, SASS, and Javascript.
        We applied modern web design principles to let the user get the best experience possible.
        With minimal clutter, and simple navigation, users can find their way around the website effortlessly.
        We incorporated Google's material design framework to ensure that the website is compatible with all different platforms, from phones to tablets to laptops and desktops.
        The website has been developed to be fully dynamic, so that admins can easily update the content without having to touch the code.
        There are also many internal features accesible to only club members, such as attendance, posts, polls, and much more.
        Members can easily keep track of their own attendance, and stay up to date with all the latest news, and updates.
        There are also many admin features that allow us to keep track of members, and stay in contact with them.
      </p>
    </div>
  </div>
</div>
<br>
<div>
  <div class="col s12">
    <h5>Attendance</h5>
  </div>
  <div class="flow-text" style="font-size:1.2rem">
    One of the biggest reasons as to why the website was built, was to make all attendance paperless, and convenient.
  </div>
  <br>
  <div class="row">
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Attendance1.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Attendance2.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Attendance3.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Attendance4.png', class: 'materialboxed hover responsive-img' %>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <div class="col s12">
    <h5>Posts</h5>
  </div>
  <div class="flow-text" style="font-size:1.2rem">
    Another reason that the website was built was to allow for effective communication between club members.
  </div>
  <br>
  <div class="row">
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Post4.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Post1.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Post3.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Post2.png', class: 'materialboxed hover responsive-img' %>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <div class="col s12">
    <h5>Dynamic Pages</h5>
  </div>
  <div class="flow-text" style="font-size:1.2rem">
    We have made all of our pages dynamic, so that admins can edit, and update all the content seamlessly.
  </div>
  <br>
  <div class="row">
    <div class="col l4 m4 s12">
      <%= image_tag 'features/MembersCenter.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l4 m4 s12" >
      <%= image_tag 'features/Dynamic6.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l4 m4 s12" >
      <%= image_tag 'features/Dynamic4.png', class: 'materialboxed hover responsive-img' %>
    </div>
  </div>
  <div class="row">
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Dynamic3.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Dynamic1.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Dynamic5.png', class: 'materialboxed hover responsive-img' %>
    </div>
    <div class="col l3 m3 s12" style="max-width:350px;">
      <%= image_tag 'features/Dynamic2.png', class: 'materialboxed hover responsive-img' %>
    </div>
  </div>
</div>
