<div id="poll_form_wrap" class="col s12 compact-form-wrap">
  <%= form_for(poll) do |f| %>
    <%= hidden_field_tag :from, from if local_assigns[:from].present? %>
    <%= render "posts/compact_post_fields", f: f %>
    <div class="row large-margin">
      <div class="input-field col s12 m12 l4">
        <%= f.select :ballots_privacy, Poll.ballots_privacies.map { |k,v| [k.titleize, k] } %>
        <%= f.label :ballots_privacy %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.check_box :multiple_choices, disabled: f.object.active? %>
        <%= f.label :multiple_choices %>
      </div>
      <div class="input-field col s12 m6 l4">
        <%= f.check_box :ballots_changeable %>
        <%= f.label :ballots_changeable %>
      </div>
    </div>
    <%= render "polls/options_form", f: f %>
    <div class="row">
      <div class="col s12">
        <%= f.submit class: 'btn right', data: { disable_with: nil } %>
      </div>
    </div>
  <% end %>
</div>
