<%= form_for(@poll) do |f| %>
  <%= errors_for f.object %>

  <%= render partial: "posts/post_fields", locals: {f: f} %>
  <div class="field">
    <%= f.check_box :multiple_choices, disabled: f.object.active? %>
    <%= f.label :multiple_choices %>
  </div>
  <div class="field">
    <%= f.check_box :ballots_changeable %>
    <%= f.label :ballots_changeable %>
  </div>
  <div class="field">
    <%= f.label :ballots_privacy %>
    <%= f.select :ballots_privacy, Poll.ballots_privacies.map { |k,v| [k.titleize, k] } %>
  </div>
  <%= render "polls/options_form", f: f %>

  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', posts_path, class: 'btn-flat' %>
    </div>
  </div>
<% end %>
