<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<div>
  <strong>Description:</strong>
  <div class="markdown"><%= markdown(@poll.description) %></div>
</div>

<div>
  <strong>Type:</strong>
  <%= @poll.model_name.human %>
</div>

<p>
  <strong>For:</strong>
  <%= @poll.restriction.capitalize %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', posts_path %>
