<div style="text-align:justify;max-width:500px;margin:0 auto;margin-top:-10px">
  <h2 style="text-align:center;"><%= @email[:subject] %></h2>
  <div style="text-align:left;">
    <strong>From:</strong> <%= @email[:from] %><br/>
    <strong>To:</strong> <%= @email[:to][:full] %><br/>
    <strong>Timestamp:</strong> <%= Time.zone.now.to_s %><br/>
  </div>
  <hr/>
  <div>
    <%= @email[:body] %>
  </div>
</div>
