<div class="row">
  <div class="input-field col s12 m9">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-field col s12 m3">
    <%= f.select :restriction, f.object.class.valid_restrictions.map { |k,v| [k.capitalize, k] }, {} %>
    <%= f.label :restriction %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.text_area :description, class: "materialize-textarea" %>
    <%= f.label :description %>
  </div>
</div>
<div class="row sp-post-f-row">
  <div class="input-field col s6">
    <%= f.check_box :email_notification %>
    <%= f.label :email_notification %>
  </div>
  <div class="col s6 right-align">
    <%= link_to 'Supported markdown ( images, links, etc )', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', class: "note" %>
  </div>
</div>
