<div class="row">
  <div class="input-field col s12 m9">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-field col s12 m3 post-restriction">
    <%= f.select :restriction, f.object.class.valid_restrictions.map { |k,v| [k.capitalize, k] }, {} %>
    <%= f.label :restriction %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.text_area :description, class: "materialize-textarea" %>
    <%= f.label :description %>
  </div>
</div>
<div class="row sp-post-f-row post-limited-teams"<%= raw(" style=\"display:none\"") unless (f.object.restriction == 'limited') %>>
  <% teams = f.object.persisted? ? f.object.team_ids : []  %>
  <% Team.all.order(name: :ASC).each do |team| %>
  <div class="input-field col s3 x-large-margin-bottom">
    <%= check_box_tag "teams[#{team.id}]", '1', (params[:teams].try('[]',team.id.to_s) == '1' || (params[:team].nil? && teams.include?(team.id))) %>
    <%= label_tag "teams[#{team.id}]", team.name %>
  </div>
  <% end %>
</div>
<div class="row sp-post-f-row">
  <div class="input-field col s6 m4">
    <%= f.check_box :email_notification %>
    <%= f.label :email_notification %>
  </div>
  <div class="input-field col s6 m3 l3">
    <%= f.check_box :disabled %>
    <%= f.label :disabled %>
  </div>
  <div class="col s12 m5 right-align hide-on-small-only">
    <%= link_to('https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet', class: "note") do %>
    Support markdown<span class="hide-on-med-and-down"> ( images, links, etc )</span>
    <% end %>
  </div>
</div>
