<div class="card-panel max8 hide-on-small-only quick-create">
  <div class="row no-margin-bottom">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#post_form_wrap"><i class="tiny material-icons">chat_bubble_outline</i>Post</a></li>
        <li class="tab col s3"><a href="#event_form_wrap"><i class="tiny material-icons">today</i>Event</a></li>
        <li class="tab col s3"><a href="#poll_form_wrap"><i class="tiny material-icons">equalizer</i>Poll</a></li>
      </ul>
    </div>
    <%= render "posts/compact_form", post: Post.new, from: request_path %>
    <%= render "events/compact_form", event: Event.new, from: request_path %>
    <%= render "polls/compact_form", poll: Poll.new, from: request_path %>
  </div>
  <div class="preloader-container">
    <%= render "components/spinner", color: "yellow" %>
  </div>
</div>
<div class="quick-links card-panel hide-on-med-and-up max8">
  <div class="row">
    <%= link_to new_post_path, class: "btn col s12" do %>
    <i class="material-icons left">chat_bubble_outline</i>Create Post
    <% end %>
    <%= link_to new_event_path, class: "btn col s12" do %>
    <i class="material-icons left">today</i>Create Event
    <% end %>
    <%= link_to new_poll_path, class: "btn col s12" do %>
    <i class="material-icons left">equalizer</i>Create Poll
    <% end %>
  </div>
</div>
