<div class="post-box" id="post<%= post.id %>">
  <div class="heading">
    <span class="title"><%= link_to "#{post.title}", post %></span>
    <div style="float:right;margin-top:2%;">
      <% if member_is_admin? %>
      <%= link_to 'create', send("edit_#{post.model_name.element}_path",post, from: request_path), class: "material-icons" %>
      <%= link_to 'delete', post, class: "material-icons", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>

  <div class="flow-text body markdown"><%= markdown(post.description) %></div>

  <%= yield %>

  <div class="right-align info">
    <%= "Disabled - " if post.disabled %><%= post.created_at.strftime("%A, %B %e, %Y @ %l:%M %p") %> - <%= post.author.try(:abbr_name) %> to <%= post.audience_description %>
  </div>
</div>
