<% unless f.object.author.nil? %>
<div class="field">
  Original Author:
  <%= f.object.author.full_name %>
</div>
<% end %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :restriction %><br>
  <%= f.select :restriction, Post.restrictions.map { |k,v| [k.capitalize, k] } %>
</div>
