<div class="post-box card-panel" id="post<%= post.id %>">
  <div class="heading">
    <span class="title"><%= link_to "#{post.title}", post, class: "flow-text" %></span>
    <div style="float:right;margin-top:2%;">
      <% if member_is_admin? %>
      <%= link_to 'create', send("edit_#{post.model_name.element}_path",post), class: "material-icons" %>
      <%= link_to 'delete', post, class: "material-icons", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <br>
    <%= post.model_name.human %> | <%= post.created_at.strftime("%a, %e %b %Y %H:%M") %> | from <%= post.author.try(:full_name) %> to <%= post.restriction == "everyone" ? post.restriction : post.restriction.pluralize %>
  </div>

  <div class="flow-text body markdown"><%= markdown(post.description) %></div>

  <%= yield %>
</div>
