<p id="notice"><%= notice %></p>

<h1>Listing <%= params[:type].pluralize %></h1>
<%= link_to 'New Post', new_post_path %>
<%= link_to 'New Event', new_event_path %>

<% @posts.each do |post| %>
  <div class="post-box">
    <div class="heading">
      <span class="title"><%= post.title %></span><br>
      <%= post.model_name.human %> | <%= post.created_at.strftime("%a, %e %b %Y %H:%M") %> | from <%= post.author.try(:full_name) %> to <%= post.restriction == "everyone" ? post.restriction : post.restriction.pluralize %>
    </div>

    <div class="body markdown"><%= markdown(post.description) %></div>

    <%= render(partial: post.type.downcase, locals: {post: post}) unless post.type.nil? %>
    <div>
      <%= link_to 'Show', post %>
      <% if member_is_admin? %>
      | <%= link_to 'Edit', edit_post_path(post) %>
      | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>

<br>
