<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<% if member_is_admin? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
<% @posts.each do |post| %>
  <div class="post-box">
    <div class="heading">
      <span class="title"><%= post.title %></span><br>
      <%= post.created_at.strftime("%a, %e %b %Y %H:%M") %> | from <%= post.member.try(:full_name) %> to <%= post.restriction == "everyone" ? post.restriction : post.restriction.pluralize %>
    </div>

    <div class="body markdown"><%= markdown(post.description) %></div>

    <div>
      <%= link_to 'Show', post %>
      <% if member_is_admin? %>
      | <%= link_to 'Edit', edit_post_path(post) %>
      | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>

<br>
