<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<div>
  <strong>Description:</strong>
  <div class="markdown"><%= markdown(@post.description) %></div>
</div>

<div>
  <strong>Type:</strong>
  <%= @post.model_name.human %>
</div>

<p>
  <strong>For:</strong>
  <%= @post.restriction.capitalize %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
