<div id="check_in_<%= team_id %>" class="modal modal-fixed-footer">
  <%= form_tag '/attendances/check_in', id: "check_in_form_#{team_id}" do %>
  <div class="modal-content">
    <h4><%= team_name %></h4>
    <b class="flow-text">Select members:</b>
    <br>
    <% members_list.each do |member| %>
    <p style="padding-left:5px;">
      <%= check_box_tag "members[#{member.id}]", "1", false, id: "members_#{member.id}_#{team_id}" %>
      <%= label_tag "members_#{member.id}_#{team_id}", "#{member.full_name} - Grade #{member.grade}" %>
    </p>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= submit_tag "Check In", class: "btn", data: { disable_with: nil } %>
    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
  </div>
  <% end %>
</div>
