<%= form_for([@member, @attendance]) do |f| %>
  <%= errors_for f.object %>
  <p></p>
  <%= render 'components/datetime', f: f, method: :start_at %>
  <%= render 'components/datetime', f: f, method: :end_at %>
  <div class="row">
    <div class="input-field col s12 m6 l3">
      <%= f.select :status, Attendance.statuses.map { |k,v| [k.capitalize, k] } %>
      <%= f.label :status %>
    </div>
  </div>

  <div class="row">
    <div class="actions col s12">
      <%= f.submit class: 'btn', data: { disable_with: nil } %>
      <%= link_to 'Back', member_attendances_path(@member), class: 'btn-flat' %>
    </div>
  </div>
<% end %>
