<p id="notice"><%= notice %></p>

<h1>Listing Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.start_at.try(:strftime, "%a, %e %b %Y %H:%M") %></td>
        <td><%= attendance.end_at.try(:strftime, "%a, %e %b %Y %H:%M") %></td>
        <td><%= attendance.status.capitalize %></td>
        <td><%= link_to 'Show', [@member, attendance] %></td>
        <td><%= link_to 'Edit', edit_member_attendance_path(member_id: @member.id, id: attendance.id) %></td>
        <td><%= link_to 'Destroy', [@member, attendance], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_member_attendance_path(@member) %>
