<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @attendance.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @attendance.end_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attendance.status %>
</p>

<%= link_to 'Edit', edit_member_attendance_path(member_id: @member.id, id: @attendance.id) %> |
<%= link_to 'Back', member_attendances_path(@member) %>
