<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @attendance.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @attendance.end_at %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
