<!DOCTYPE html>
<html>
<head>
  <title>WarriorRobotix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "WarriorRobotix", root_path %>
  <%= white_spaces(8) %>
<% if member_signed_in? %>
  Hi, <%= current_member.first_name %> <%= current_member.last_name %> <%= "(admin)" if member_is_admin? %> <%= link_to "Sign out", signout_path(return_to_info), method: :delete %>
<% else %>
  <%= link_to "Sign in", signin_path(from: request.fullpath == '/' ? nil : request.fullpath) %>
<% end %>
</nav>
<hr/>

<%= yield %>

</body>
</html>
