<h3 class="flow-text">Pending Members</h3>
<div class="card-panel" style="padding:10px;">
  <table class="centered except-last" id="pending-members">
    <thead>
      <tr>
        <th>Full Name</th>
        <th class="hide-on-small-only">Grade</th>
        <th class="hide-on-med-and-down">Email</th>
        <th class="hide-on-med-and-down">Student Number</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% members.each do |member| %>
      <tr>
        <td><%= link_to member.full_name, "#m-#{member.id}" %></td>
        <td class="hide-on-small-only"><%= member.grade %></td>
        <td class="hide-on-med-and-down"><%= member.email %></td>
        <td class="hide-on-med-and-down"><%= member.student_number %></td>
        <td><%= link_to 'check', member_approve_path(member), method: :post, class: 'material-icons' %></td>
        <td><%= link_to 'close', member_reject_path(member), method: :post, class: 'material-icons' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
