<div id="registration_wrap" class="col s12 compact-form-wrap">
  <div class="row">
    <% valid_fields = RegistrationField.valid_member_fields? %>
    <div class="col m4 l3 right-align">
      <%= render 'registrations/toggle_form', valid_fields: valid_fields %>
    </div>
    <div class="col m8 l9">
      <% if valid_fields %>
        <%= link_to 'Edit Fields', registration_fields_path, class: "btn-text" %>
        <%= link_to register_url, register_url %>
      <% else %>
        Invalid form: Valid form requires first name, last name, email, grade, and student number fields.
        <br>
        <%= link_to 'Quick FIX', fix_registration_fields_path(return_to_info), method: :post, class: "btn-text", data: { disable_with: nil } %>
      <% end %>
    </div>
  </div>
  <br>
  <div>
    <table class="centered bordered except-last">
      <tbody>
        <% RegistrationField.order(order: :ASC, id: :ASC).each do |field| %>
        <tr>
        <td><%= field.title %></td>
        <td class="hide-on-med-only"><%= field.input_type.titleize %><%= " (#{field.extra_info_for_human})" if field.extra_info.present? %></td>
        <td><%= field.optional ? 'optional' : '✓' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
