<div class="max6">
<h1 class="flow-text">Update Password</h1>
<div class="card-panel" style="padding-bottom:10px;padding-top:10px;">
  <%= form_for(current_member, url: password_path, method: :post) do |f| %>
    <%= errors_for f.object %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.label :old_password %>
        <%= f.password_field :old_password %>
      </div>
      <div class="input-field col s12">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="input-field col s12">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="row">
      <div class="col s12 large-margin-bottom">
        <%= link_to 'Forgot Old Password', forgot_path, class: "btn-flat waves-effect waves-light" %>
      </div>
      <div class="actions col s12">
        <%= f.submit 'Update Password', class: 'btn', data: { disable_with: nil } %>
        <%= link_to 'Back', members_path, class: 'btn-flat' %>
      </div>
    </div>
  <% end %>
</div>
</div>
