<p id="notice"><%= notice %></p>

<h1 class="flow-text">Listing Members</h1>
<hr>
<% @member_groups.each do |group| %>
<h3 class="flow-text"><%= group[0] %></h3>
<div class="card-panel" style="padding:10px;">
<table class="flow-text" style="font-size:100%;">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Grade</th>
      <% if member_is_admin? %>
      <th>Email</th>
      <th>Student Number</th>
      <th>Admin</th>
      <th>Accepted</th>
      <th>Graduated Year</th>
      <th colspan="4"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% group[1].each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.title %></td>
        <td><%= member.grade %></td>
        <% if member_is_admin? %>
        <td><%= member.email %></td>
        <td><%= member.student_number %></td>
        <td><%= member.admin %></td>
        <td><%= member.accepted %></td>
        <td><%= member.graduated_year %></td>
        <td><%= link_to 'Attendances', member_attendances_path(member) %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
<% if member_is_admin? %>
<br>
<p class="flow-text" style="font-size:100%;">
<%= link_to 'New Member', new_member_path %>
</p>
<% end %>
