<p id="notice"><%= notice %></p>

<h1 class="flow-text">Listing Members</h1>
<hr>
<% @member_groups.each do |group| %>
<h3 class="flow-text"><%= group[0] %></h3>
<div class="card-panel" style="padding:10px;">
<table class="flow-text" style="font-size:100%;">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Title</th>
      <th>Grade</th>
      <% if member_is_admin? %>
      <th>Email</th>
      <th>Student Number</th>
      <th>Admin</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% group[1].each do |member| %>
      <tr>
        <td><%= raw('<i class="small material-icons inline">supervisor_account</i>') if member.admin? && member_is_admin? %><%= link_to member.full_name, member %></td>
        <td><%= member.title %></td>
        <td><%= member.grade %></td>
        <% if member_is_admin? %>
        <td><%= member.email %></td>
        <td><%= member.student_number %></td>
        <td><%= member.admin %></td>
        <% end %>
      </tr>
      <% if member_is_admin? %>
      <tr>
        <td colspan="6" style="text-align:justify;">
          <%= link_to 'Attendances', member_attendances_path(member) %> |
          <%= link_to 'Edit', edit_member_path(member) %> |
          <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
<% if member_is_admin? %>
<br>
<p class="flow-text" style="font-size:100%;">
<%= link_to 'New Member', new_member_path %>
</p>
<% end %>
