<% if member_is_admin? %>
<%= hash_modal 'm-', member_path(id: '$') %>
<%= render 'reject_member_modal' %>
<% end %>
<h1 class="flow-text">Members Center</h1>
<%= render 'quick_members_panel'  %>
<% cache(['current_members',@show_attend,@current_members,member_is_admin?]) do %>
<%= render('members_table', members: @current_members, title: 'Current Members', show_attend: @show_attend, display_show_attend: member_is_admin?) %>
<% end %>
<% if member_is_admin? %>
<% cache(['pending_members',@pending_members]) do %>
<%= render('pending_members_table', members: @pending_members, title: 'Pending Members') if @pending_members.present? %>
<% end %>
<% cache(['graduated_members',@graduated_members]) do %>
<%= render('members_table', members: @graduated_members, title: 'Graduated Members') if @graduated_members.present? %>
<% end %>
<% end %>
