<p id="notice"><%= notice %></p>

<h1 class="flow-text">Listing Members</h1>
<hr>
<% @member_groups.each do |group| %>
<h3 class="flow-text"><%= group[0] %></h3>
<div class="mobile-only">
    <div class="card-panel">
      <table class="flow-text" style="font-size:100%">
      <thead>
        <th>Name</th>
        <th>Title</th>
        <th>Student Number</th>
      </thead>
      <% group[1].each do |member| %>
        <tr>
        <td><%= link_to "#{member.first_name} #{member.last_name}", "/members/#{member.id}" %></td>
        <td><%= member.title %></td>
        <td><%= member.student_number %></td>
        </tr>
      <% end %>
      </table>
    </div>
</div>
<div class="card-panel screen-only" style="padding:10px;">
<table class="flow-text" style="font-size:100%;">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Grade</th>
      <% if member_is_admin? %>
      <th>Email</th>
      <th>Student Number</th>
      <th>Admin</th>
      <th>Accepted</th>
      <th>Graduated Year</th>
      <th colspan="4">Options</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% group[1].each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.title %></td>
        <td><%= member.grade %></td>
        <% if member_is_admin? %>
        <td><%= member.email %></td>
        <td><%= member.student_number %></td>
        <td><%= member.admin %></td>
        <td><%= member.accepted %></td>
        <td><%= member.graduated_year %></td>
        <td><%= link_to 'visibility', member, class: "material-icons" %></td>
        <td><%= link_to 'create', edit_member_path(member),class: "material-icons" %></td>
        <td><%= link_to 'delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "material-icons" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<% if member_is_admin? %>
<br>
<p class="flow-text" style="font-size:100%;">
<%= link_to 'New Member', new_member_path %>
</p>
<% end %>
