<%= hash_modal 'm-', member_path(id: '$') if member_is_admin? %>
<%= render('members_table', members: @current_members, title: 'Current Members') %>
<%= render('pending_members_table', members: @pending_members, title: 'Pending Members') if @pending_members.present? %>
<%= render('members_table', members: @graduated_members, title: 'Graduated Members') if @graduated_members.present? %>
<% if member_is_admin? %>
<div class="center">
<%= link_to 'Create Member Account', new_member_path, class: "btn-bordered" %>
<%= link_to 'Update Registration Form', registration_fields_path, class: "btn-bordered" %>
</div>
<% end %>
