<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @member.grade %>
</p>

<p>
  <strong>Student Number:</strong>
  <%= @member.student_number %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @member.admin %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @member.accepted %>
</p>

<p>
  <strong>Graduated Year:</strong>
  <% if @member.graduated_year.nil? %>
  Active
  <% else %>
  <%= @member.graduated_year %>
  <% end %>
</p>

<%= link_to 'Attendances', member_attendances_path(@member) %> |
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
